
:root {

  /**
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
  );

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus { outline-color: var(--orange-yellow-crayola); }

html { font-family: var(--ff-poppins); }

body { background: var(--smoky-black); }



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.sidebar,
article {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 35px; }


article { display: none; }

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article-title {
  position: relative;
  padding-bottom: 7px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}



/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}



/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
  position: sticky;
}

.sidebar.active { max-height: 405px; }

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.avatar-box {
  background: var(--bg-gradient-onyx);
  border-radius: 20px;
}

.info-content .name {
  color: var(--white-2);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.info-content .title {
  color: var(--white-1);
  background: var(--onyx);
  font-weight: var(--fw-300);
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 1.2rem; /* Ajusta el tamaño según sea necesario */
  word-wrap: break-word;
  text-align: center; /* Centra el texto en pantallas pequeñas */
}

.info_more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: 13px;
  color: var(--orange-yellow-crayola);
  background: var(--border-gradient-onyx);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--bg-gradient-jet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus { background: var(--bg-gradient-yellow-1); }

.info_more-btn:hover::before,
.info_more-btn:focus::before { background: var(--bg-gradient-yellow-2); }

.info_more-btn span { display: none; }

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Asegura que los textos largos se ajusten */
  font-size: 0.875rem;
}

.contact-title {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
}


.contact-info :is(.contact-link, time, address) {
  color: var(--white-2);
  font-size: var(--fs-7);
}

.contact-info address { font-style: normal; }
/* Estilos para la lista de redes sociales */
.social-list {
  display: flex;
  justify-content: center; /* Centrar los botones horizontalmente */
  gap: 16px; /* Espacio entre los botones */
  padding: 0; /* Eliminar el padding para una alineación precisa */
  margin: 0; /* Eliminar el margin para una alineación precisa */
}

/* Estilos para los botones de redes sociales */
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-gradient-onyx);
  border-radius: 50%;
  width: 50px; /* Tamaño del botón */
  height: 50px; /* Tamaño del botón */
  box-shadow: var(--shadow-2);
  transition: background 0.3s, transform 0.3s; /* Transiciones para hover */
}

.social-item:hover {
  background: #22D4FD; /* Color de fondo en hover */
  transform: scale(1.1); /* Aumentar el tamaño del botón en hover */
}

/* Estilos para el enlace de redes sociales */
.social-link {
  color: var(--white-2);
  font-size: 24px; /* Tamaño del icono */
  transition: color 0.3s; /* Transición para el cambio de color */
}

/* Ajustar el color del icono en hover */
.social-item:hover .social-link {
  color: #000000; /* Color del icono al hacer hover */
}

/* Ajustar el tamaño de los iconos dentro de los botones */
.social-link ion-icon {
  font-size: 24px; /* Tamaño del icono */
}

/* Estilo del botón de descarga */
.download-button {
  display: block; /* Hace que el botón ocupe toda la línea */
  padding: 8px 16px; /* Espaciado interno más reducido */
  font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  background: linear-gradient(135deg, #F9D42D, #F7B733); /* Gradiente amarillo para un look más elegante */
  color: black; /* Color del texto negro */
  text-decoration: none; /* Quitar subrayado del enlace */
  font-weight: bold; /* Texto en negrita */
  border-radius: 25px; /* Bordes más curvos */
  text-align: center;
  margin: 0 auto; /* Centrar el botón */
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s, border-radius 0.3s; /* Transiciones suaves */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra del botón más suave */
  margin-top: 20px; /* Espacio superior para separar del contenido anterior */
}

.download-button:hover,
.download-button:focus {
  background: linear-gradient(135deg, #F7B733, #F9D42D); /* Gradiente invertido en hover/focus */
  transform: scale(1.03); /* Leve aumento en el tamaño */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada en hover/focus */
  border-radius: 30px; /* Aumento en el radio de borde para un efecto de hover más pronunciado */
}


 /* Estilos para todos los enlaces de contacto */
.contact-link {
  color: var(--white-2); /* Color de texto inicial */
  font-size: var(--fs-7); /* Ajusta el tamaño del texto según sea necesario */
  text-decoration: none; /* Elimina el subrayado */
  transition: color 0.3s, text-shadow 0.3s; /* Transiciones suaves para hover */
}

/* Estilos específicos para el correo electrónico al pasar el mouse */
.email-link {
  display: inline-block; /* Asegura que el elemento se comporte como un bloque en línea para aplicar transformaciones */
}

/* Estilo para el hover del correo electrónico */
.email-link:hover {
  color: #22D4FD; /* Color del texto en hover */
  font-weight: bold; /* Opcional: haz el texto en negrita para destacarlo más */
  text-shadow: 0 1px 0 #22D4FD, 0 2px 0 #22D4FD; /* Sombra de texto para un efecto sutil */
}

/* Estilo para otros enlaces de contacto */
.contact-link:not(.email-link):hover {
  color: var(--white-2); /* Color de texto para otros enlaces en hover */
}



/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 9999; /* Valor alto para asegurar que esté en la parte superior */
  pointer-events: auto; /* Asegura que el navbar pueda recibir clics */
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: var(--light-gray);
  font-size: var(--fs-8);
  padding: 20px 7px;
  transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus { color: var(--light-gray-70); }

.navbar-link.active { color: var(--orange-yellow-crayola); }


[data-nav-link] {
  cursor: pointer;
}



/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .article-title { margin-bottom: 15px; }

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.about-text p { margin-bottom: 15px; }



/**
 * #service 
 */

.service { margin-bottom: 35px; }

.service-title { margin-bottom: 20px; }

.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
}

.service-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.service-icon-box { margin-bottom: 10px; }

.service-icon-box img { margin: auto; }

.service-content-box { text-align: center; }

.service-item-title { margin-bottom: 7px; }

.service-item-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
}


/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.article-title { margin-bottom: 30px; }


/**
 * education and experience 
 */

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--jet);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--text-gradient-yellow);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}



/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/


.project-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 10px;
}

.project-item {
  display: flex;
  background: var(--eerie-black-2);
  border-radius: 16px;
  overflow: hidden;
  padding: 20px;
}

.project-item-left {
  width: 200px; /* Ajusta este valor al ancho original de tu imagen */
  margin-right: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item-left > a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
  padding-top: 56.25%; /* Mantiene una relación de aspecto 16:9 */
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.project-item-left > a:hover .project-img {
  transform: scale(1.05);
}

.project-item-left > a:hover .project-img::before {
  opacity: 1;
}



.project-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ffffff; /* Cambia el color del título a blanco */
}

.project-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.project-description {
  margin-bottom: 15px;
  color: var(--light-gray);
  font-size: var(--fs-6);
  line-height: 1.6;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

/* Estilo base para los ítems de tecnología */
.tech-item {
  background: linear-gradient(135deg, #22D4FD, #1E90FF); /* Gradiente azul claro a azul más oscuro */
  color: #000000; /* Texto negro */
  padding: 3px 6px; /* Tamaño reducido de los ítems de tecnología */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 0.75rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil para darle profundidad */
  transition: all 0.3s ease; /* Transición suave para cualquier cambio en el estado */
}

/* Opcional: añade un efecto de hover sutil para mejorar la interacción */
.tech-item:hover {
  background: linear-gradient(135deg, #1E90FF, #22D4FD); /* Gradiente invertido al pasar el mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
}





/* Botones para los proyectos */

.project-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: var(--fs-6);
  transition: var(--transition-1);
}

/* Estilo del botón .btn-primary */
.btn-primary {
  background: linear-gradient(135deg, #F9D42D, #F7B733); /* Gradiente amarillo */
  color: #000000; /* Color del texto negro */
  border: none; /* Elimina bordes para evitar cambios de tamaño */
  font-weight: bold; /* Texto en negrita */
  text-decoration: none; /* Quitar subrayado del enlace */
  transition: background 0.3s, box-shadow 0.3s; /* Transiciones suaves para el fondo y sombra */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra del botón más suave */
}

/* Efecto de hover y focus */
.btn-primary:hover,
.btn-primary:focus {
  background: linear-gradient(135deg, #F7B733, #F9D42D); /* Gradiente invertido en hover/focus */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada en hover/focus */
}


.btn-secondary {
  background: var(--jet);
  color: var(--orange-yellow-crayola);
}

.btn:hover {
  opacity: 0.8;
}


.separator-bar {
  width: 100%;
  height: 4px; /* Ajusta el grosor de la barra */
  background-color: yellow; /* Cambia el color según tus preferencias */
  margin: 20px 0; /* Ajusta el espacio alrededor de la barra */
}

/* Estilo para la barra de separación */
.separator-bar {
  width: 100%;
  height: 4px;
  background-color: yellow; /* Cambia el color según tus preferencias */
  margin: 20px 0; /* Ajusta el espacio alrededor de la barra */
}


#soft-skills {
  padding: 20px;
  background-color: var(--eerie-black-2); /* Fondo que combine con el portafolio */
  color: var(--light-gray); /* Color del texto para armonizar */
  border-radius: 8px; /* Borde redondeado para mejorar el diseño */
  text-align: center;
}

.soft-skills-content li {
  display: flex; /* Usa Flexbox para alinear los iconos y el texto */
  align-items: center; /* Alinea verticalmente el icono y el texto */
  background-color: var(--dark-gray); /* Fondo para las tarjetas */
  color: var(--light-gray); /* Color del texto dentro de las tarjetas */
  border-radius: 8px; /* Bordes redondeados para las tarjetas */
  padding: 10px;
  box-shadow: var(--shadow-2); /* Sombra para las tarjetas */
  font-size: var(--fs-6); /* Tamaño de fuente ajustado */
  margin: 0;
  text-align: left; /* Alinea el texto a la izquierda para mejor presentación */
  transition: transform 0.3s, background-color 0.3s; /* Transiciones para efectos hover */
}

.soft-skills-content li ion-icon {
  margin-right: 10px; /* Espacio entre el icono y el texto */
  font-size: 24px; /* Tamaño del icono */
}

.soft-skills-content li:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la tarjeta al pasar el mouse */
  background-color: var(--highlight-color); /* Cambia el fondo al pasar el mouse */
  color: var(--dark-gray); /* Cambia el color del texto al pasar el mouse */
}

.soft-skills-content li {
  position: relative; /* Para posicionar el pseudo-elemento */
  overflow: hidden; /* Ocultar el contenido desbordado */
}

.soft-skills-content li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Color de resaltado sutil */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.soft-skills-content li:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}



.footer {
  background-color: #f8f9fa; /* Color de fondo */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin: 0 auto; /* Centra el pie de página */
  width: fit-content; /* Ajusta el ancho al contenido */
  position: relative; /* Permite el uso de margin-top */
  top: -25px; /* Ajusta la posición vertical del pie de página; aumenta el valor para subirlo más */
}

/* Estilo para el mensaje de copyright */
.footer .copyright {
  font-size: 16px; /* Tamaño de la fuente */
  color: #000; /* Color del texto (negro) */
  font-weight: bold; /* Texto en negrita */
  margin: 0; /* Elimina márgenes adicionales */
}

.footer-spacer {
  height: 1px; /* Ajusta el valor según necesites más o menos espacio */
}



/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 450px screen
 */

 @media (max-width: 449px) {

  /**
   * #PORTFOLIO,
   */

  .info_more-btn {
    font-size: 0.75rem; /* Tamaño de fuente más pequeño */
    padding: 6px 10px; /* Ajusta el padding para botones más pequeños */
  }

  .contacts-list {
    grid-template-columns: 1fr; /* Una columna para el listado de contactos */
    gap: 8px; /* Ajusta el espacio entre los elementos */
  }

  .contact-info {
    font-size: 0.65rem; /* Tamaño de fuente más pequeño para la información de contacto */
  }

  .info-content .title {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño para los títulos */
  }

  .social-item {
    width: 24px; /* Tamaño más pequeño para los iconos sociales */
    height: 24px;
    margin-top: -4px; /* Ajusta el margen para alinear los iconos */
  }

  .project-list {
    grid-template-columns: 1fr; /* Una columna para el listado de proyectos */
  }

  .sidebar {
    width: 100%; /* Asegúrate de que el sidebar ocupe todo el ancho */
  }

  .project-item {
    display: flex;
    flex-direction: column; /* Imagen arriba y contenido abajo */
    align-items: center; /* Centra horizontalmente la imagen y el contenido */
    gap: 8px; /* Ajusta el espacio entre la imagen y el contenido */
    margin-bottom: 16px; /* Reduce el margen inferior entre proyectos */
  }

  .project-img {
    padding-top: 56.25%; /* Mantiene la relación de aspecto 16:9 */
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  .project-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .tech-item {
    border-radius: 4px; /* Bordes más redondeados para pantallas pequeñas */
    padding: 4px 8px; /* Ajusta el padding para un tamaño más compacto */
    font-size: 10px; /* Tamaño de fuente más pequeño */
  }

  .btn-secondary {
    background-color: #6c757d; /* Color de fondo del botón secundario */
    color: #fff; /* Color del texto del botón secundario */
  }

  .btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8; /* Efecto al pasar el mouse por encima */
  }

  .project-buttons a {
    display: flex; /* Usa flexbox para alinear el contenido dentro del botón */
    align-items: center; /* Centra el contenido verticalmente dentro del botón */
    justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
    text-align: center; /* Alinea el texto al centro */
    font-size: 12px; /* Tamaño de fuente más pequeño para los botones */
  }

  .footer {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 8px 8px; /* Reducido el espaciado interno para pantallas pequeñas */
    text-align: center; /* Centra el texto */
    border-radius: 6px; /* Bordes redondeados más pequeños */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    margin: 0 4px; /* Ajusta el margen para alejar de los bordes laterales */
    width: auto; /* Ajusta el ancho al contenido */
    position: relative; /* Permite el uso de margin-top */
    top: -66px; /* Ajusta la posición vertical del pie de página */
    z-index: 10; /* Asegúrate de que el footer no se superponga con otros elementos */
  }

  /* Estilo para el mensaje de copyright */
  .footer .copyright {
    font-size: 12px; /* Tamaño de la fuente ajustado */
    color: #000; /* Color del texto (negro) */
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina márgenes adicionales */
  }

  .soft-skills-content {
    flex-direction: column; /* Cambia la dirección del contenido a columna en lugar de fila */
    gap: 10px; /* Espacio entre los ítems */
  }

  .soft-skills-content li {
    font-size: 14px; /* Ajusta el tamaño de fuente si es necesario */
    padding: 10px; /* Ajusta el relleno para mejorar el espaciado */
  }

  .download-button {
    margin-top: 10px; /* Espacio superior para separar del contenido anterior */
  }

  .service-item .service-icon-box {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Alineación adicional por seguridad */
  }

  .service-item .service-icon-box ion-icon {
    margin: 0 auto; /* Asegura que el ícono esté centrado */
  }

}


@media (min-width: 450px) {


  /**
   * #PORTFOLIO,
   */


.info_more-btn {
  font-size: 0.875rem;
  padding: 8px 12px;
}

.contacts-list {
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.contact-info {
  font-size: 0.75rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
}

/* debo arreglar el title estudiante */
.info-content .title {
  font-size: 1rem; /* Ajusta el tamaño de la fuente a un tamaño menor */
}

.social-item {
  width: 30px; 
  height: 30px;
  margin-top: -6px;
}

.project-list {
  grid-template-columns: repeat(1, 1fr);
}

.sidebar {
  width: 100%;
}

.project-list {
  grid-template-columns: repeat(1, 1fr); /* Mantén una columna para proyectos */
}

.project-item {
  display: flex;
  flex-direction: column; /* Imagen arriba y contenido abajo */
  align-items: center; /* Centra horizontalmente la imagen y el contenido */
  gap: 10px; /* Ajusta el espacio entre la imagen y el contenido */
  margin-bottom: 20px; /* Reduce el margen inferior entre proyectos */
}

.project-img {
  padding-top: 56.25%; /* Mantiene la relación de aspecto 16:9 */
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.project-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.btn-secondary {
  background-color: #6c757d; /* Color de fondo del botón secundario */
  color: #fff; /* Color del texto del botón secundario */
}

.btn-primary:hover, .btn-secondary:hover {
  opacity: 0.8; /* Efecto al pasar el mouse por encima */
}


.tech-item {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

.project-buttons a {
  display: flex; /* Usa flexbox para alinear el contenido dentro del botón */
  align-items: center; /* Centra el contenido verticalmente dentro del botón */
  justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
  text-align: center; /* Alinea el texto al centro */
}

.footer {
  background-color: #f8f9fa; /* Color de fondo */
  padding: 10px 10px; /* Reducido el espaciado interno */
  text-align: center; /* Centra el texto */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin: 0 5px; /* Añadido margen para alejar de los bordes laterales */
  width: auto; /* Ajusta el ancho al contenido */
  position: relative; /* Permite el uso de margin-top */
  top: -66px; /* Ajusta la posición vertical del pie de página */
  z-index: 10; /* Asegúrate de que el footer no se superponga con otros elementos */
}

/* Estilo para el mensaje de copyright */
.footer .copyright {
  font-size: 14px; /* Tamaño de la fuente ajustado */
  color: #000; /* Color del texto (negro) */
  font-weight: bold; /* Texto en negrita */
  margin: 0; /* Elimina márgenes adicionales */
}

.soft-skills-content {
  flex-direction: column; /* Cambia la dirección del contenido a columna en lugar de fila */
  gap: 12px; /* Espacio entre los ítems */
}

.soft-skills-content li {
  font-size: var(--fs-5); /* Ajusta el tamaño de fuente si es necesario */
  padding: 15px; /* Ajusta el relleno para mejorar el espaciado */
}

.download-button {
  margin-top: 10px; /* Espacio superior para separar del contenido anterior */
}

.service-item .service-icon-box {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  text-align: center; /* Alineación adicional por seguridad */
}

.service-item .service-icon-box ion-icon {
  margin: 0 auto; /* Asegura que el ícono esté centrado */
}



}
/**
 * responsive larger than 580px screen
 */

@media (min-width: 580px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;

  }


  /**
   * #REUSED STYLE
   */

  .sidebar, article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }

  .article-title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;
  }

  .article-title::after {
    width: 40px;
    height: 5px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  


  /**
   * #MAIN
   */

  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }



  /**
   * #SIDEBAR
   */

  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;
  }

  .sidebar.active { max-height: 584px; }

  .sidebar-info { gap: 25px; }

  .avatar-box { border-radius: 30px; }

  .avatar-box img { width: 120px; }

  .info-content .name { margin-bottom: 15px; }

  .info-content .title { padding: 5px 18px; }

  .info_more-btn {
    top: -30px;
    right: -30px;
    padding: 10px 15px;
    font-size: 0.875rem;
  }

  .info_more-btn span {
    display: block;
    font-size: var(--fs-8);
  }

  .info_more-btn ion-icon { display: none; }

  .separator { margin: 32px 0; }

  .contacts-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .contact-info {
    font-size: 0.875rem;
  }

  .social-item {
    width: 50px; 
    height: 50px;
  
  }



  /**
   * #NAVBAR
   */

  .navbar { border-radius: 20px 20px 0 0; }

  .navbar-list { gap: 20px; }

  .navbar-link { --fs-8: 14px; }



  /**
   * #ABOUT
   */

  .about .article-title { margin-bottom: 20px; }

  .about-text { margin-bottom: 40px; }

  /* service */

  .service-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }

  .service-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
  }

  .service-content-box { text-align: left; }


  /**
   * #RESUME
   */

  .timeline-list { margin-left: 65px; }

  .timeline-item:not(:last-child)::before { left: -40px; }

  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }

  .skills-item:not(:last-child) { margin-bottom: 25px; }

  .project-list {
    grid-template-columns: repeat(1, 1fr); /* Una columna para mostrar los proyectos */
  }

  .project-item {
    display: flex;
    flex-direction: column; /* Imagen arriba y contenido abajo */
    align-items: center; /* Centra horizontalmente la imagen y el contenido */
    gap: 15px;
    margin-bottom: 25px;
  }

  .project-img {
    padding-top: 56.25%; /* Mantiene la relación de aspecto 16:9 */
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: center; /* Asegura que la imagen esté centrada */
  }

  .project-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  

  .sidebar {
    width: 100%;
  }

  
  
  .btn-secondary {
    background-color: #6c757d; /* Color de fondo del botón secundario */
    color: #fff; /* Color del texto del botón secundario */
  }
  
  .btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8; /* Efecto al pasar el mouse por encima */
  }
  
  
  .tech-item {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .footer {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px 15px; /* Reducido el espaciado interno */
    text-align: center; /* Centra el texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin: 0 10px; /* Añadido margen para alejar de los bordes laterales */
    width: auto; /* Ajusta el ancho al contenido */
    position: relative; /* Permite el uso de margin-top */
    top: -80px; /* Ajusta la posición vertical del pie de página */
    /* Asegúrate de que el footer no se superponga con otros elementos */
    z-index: 10;
  }

  /* Estilo para el mensaje de copyright */
  .footer .copyright {
    font-size: 16px; /* Tamaño de la fuente */
    color: #000; /* Color del texto (negro) */
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina márgenes adicionales */
  }

  .soft-skills-content {
    flex-direction: row; /* Vuelve a la disposición en fila */
    flex-wrap: wrap; /* Permite que los ítems se envuelvan a la siguiente línea si es necesario */
    gap: 16px; /* Espacio entre los ítems */
  }

  .soft-skills-content li {
    font-size: var(--fs-6); /* Tamaño de fuente ajustado para pantallas medianas */
    padding: 20px; /* Ajusta el relleno para pantallas medianas */
  }

  .download-button {
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  }


}

/**
 * responsive larger than 768px screen
 */

@media (min-width: 768px) and (max-width: 1023px) {

  /**
   * REUSED STYLE
   */

  .sidebar, article { width: 700px; }

  .has-scrollbar::-webkit-scrollbar-button { width: 100px; }

  .info_more-btn {
    font-size: 1rem;
    padding: 12px 16px;
  }



  /**
   * SIDEBAR
   */

  .contacts-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }



  /**
   * NAVBAR
   */

  .navbar-link { --fs-8: 15px; }



  /**
   * ABOUT
   */


  .modal-avatar-box img { width: 80px; }



  /**
   * PORTFOLIO
   */

  .article-title { padding-bottom: 20px; }


  /* portfolio grid */

  .project-list {
    grid-template-columns: repeat(2, 1fr); /* Reducimos a 2 columnas */
  }

  .project-item {
    display: flex;
    flex-direction: row; /* Imagen a la izquierda y contenido a la derecha */
    gap: 15px; /* Espacio entre la imagen y el contenido */
    margin-bottom: 20px; /* Espacio entre los proyectos */
  }

  .project-img {
    padding-top: 56.25%; /* Mantiene la relación de aspecto 16:9 */
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  .project-img img {
    position: absolute; /* Posiciona la imagen dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin distorsión */
    display: block; /* Elimina el espacio debajo de la imagen */
  }


  
  .btn-secondary {
    background-color: #6c757d; /* Color de fondo del botón secundario */
    color: #fff; /* Color del texto del botón secundario */
  }
  
  .btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8; /* Efecto al pasar el mouse por encima */
  }
  
  
  .tech-item {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .footer {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin: 0 auto; /* Centra el pie de página */
    width: fit-content; /* Ajusta el ancho al contenido */
    position: relative; /* Permite el uso de margin-top */
    top: -80px; /* Ajusta la posición vertical del pie de página; aumenta el valor para subirlo más */
    /* Asegúrate de que el footer no se superponga con otros elementos */
    z-index: 10;
  }

  /* Estilo para el mensaje de copyright */
  .footer .copyright {
    font-size: 16px; /* Tamaño de la fuente */
    color: #000; /* Color del texto (negro) */
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina márgenes adicionales */
  }

  .soft-skills-content {
    flex-direction: row; /* Mantén la disposición en fila */
    flex-wrap: wrap; /* Permite que los ítems se envuelvan a la siguiente línea si es necesario */
    gap: 24px; /* Espacio adicional entre los ítems */
  }

  .soft-skills-content li {
    font-size: var(--fs-6); /* Tamaño de fuente adecuado para pantallas grandes */
    padding: 20px; /* Relleno adecuado para pantallas grandes */
  }

  


}


/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
    * shadow
    */

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);

  }



  /**
   * REUSED STYLE
   */

  .sidebar, article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }



  /**
   * MAIN 
   */

  main { margin-bottom: 60px; }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }


  .info_more-btn {
    font-size: 1rem;
    padding: 12px 18px;
  }

  /**
   * NAVBAR
   */

  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link { font-weight: var(--fw-500); }



  /**
   * ABOUT
   */

  /* service */

  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }


  /**
   * PORTFOLIO
   */

  .project-list { grid-template-columns: repeat(3, 1fr); }

  .project-item {
    display: flex;
    flex-direction: row; /* Imagen a la izquierda y contenido a la derecha */
    gap: 20px; /* Espacio entre la imagen y el contenido */
    margin-bottom: 30px; /* Espacio entre los proyectos */
  }

  .project-img {
    padding-top: 56.25%; /* Mantiene una relación de aspecto 16:9 */
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative; /* Necesario para el ajuste de la imagen */
  }

  .project-img img {
    position: absolute; /* Posiciona la imagen dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin distorsión */
    display: block; /* Elimina el espacio debajo de la imagen */
  }

  
  
  .btn-secondary {
    background-color: #6c757d; /* Color de fondo del botón secundario */
    color: #fff; /* Color del texto del botón secundario */
  }
  
  .btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8; /* Efecto al pasar el mouse por encima */
  }
  
  
  .tech-item {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .footer {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin: 0 auto; /* Centra el pie de página */
    width: fit-content; /* Ajusta el ancho al contenido */
    position: relative; /* Permite el uso de margin-top */
    top: -30px; /* Ajusta la posición vertical del pie de página; aumenta el valor para subirlo más */
  }
  
  /* Estilo para el mensaje de copyright */
  .footer .copyright {
    font-size: 16px; /* Tamaño de la fuente */
    color: #000; /* Color del texto (negro) */
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina márgenes adicionales */
  }
  
  .footer-spacer {
    height: 1px; /* Ajusta el valor según necesites más o menos espacio */
  }

  

  
}


/**
 * responsive larger than 1250px screen
 */

@media (min-width: 1250px) {

  /**
   * RESET
   */

  body::-webkit-scrollbar { width: 20px; }

  body::-webkit-scrollbar-track { background: var(--smoky-black); }

  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }

  body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }

  body::-webkit-scrollbar-button { height: 60px; }



  /**
   * REUSED STYLE
   */

  .sidebar, article { width: auto; }

  article { min-height: 100%; }



  /**
   * MAIN
   */

  main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }



  /**
   * SIDEBAR
   */

  .sidebar {
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar-info { flex-direction: column; }

  .avatar-box img { width: 150px; }

  .info-content .name {
    white-space: nowrap;
    text-align: center;
  }

  .info-content .title { margin: auto; }

  .info_more-btn { display: none; }

  .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }

  .contacts-list { grid-template-columns: 1fr; }

  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-info :is(.contact-link, time, address) {
    --fs-7: 14px;
    font-weight: var(--fw-300);
  }


  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }

  .social-list { justify-content: center; }




  /**
	 * RESUME
	 */

  .timeline-text { max-width: 700px; }


.project-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-img {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Mantiene una relación de aspecto 16:9 */
  background: #f5f5f5; /* Color de fondo para ver la imagen más fácilmente */
  overflow: hidden;
}

.project-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin distorsión */
}

.project-buttons {
  margin-top: 10px; /* Ajusta el espacio entre la imagen y los botones */
  text-align: center;
}

.tech-item {
  display: inline-block;
  margin-right: 8px; /* Ajusta el espacio entre los íconos de tecnología */
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem; /* Ajusta el tamaño de fuente de los íconos de tecnología */
}

.btn-primary, .btn-secondary {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 0.875rem;
  margin: 0 5px; /* Ajusta el espacio entre los botones */
}


.btn-secondary {
  background-color: #6c757d; /* Color de fondo del botón secundario */
  color: #fff; /* Color del texto del botón secundario */
}

.btn-primary:hover, .btn-secondary:hover {
  opacity: 0.8; /* Efecto al pasar el mouse por encima */
}


/* Ajuste de los elementos de tecnología */
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 0;
}

.tech-item {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
}

/* Ajuste del título y categoría del proyecto */
.project-title {
  font-size: 18px;
  margin: 10px 0;
}


.separator-bar {
  width: 100%;
  height: 4px; /* Ajusta el grosor de la barra */
  background-color: yellow; /* Cambia el color según tus preferencias */
  margin: 20px 0; /* Ajusta el espacio alrededor de la barra */
}

/* Estilo para la barra de separación */
.separator-bar {
  width: 100%;
  height: 4px;
  background-color: yellow; /* Cambia el color según tus preferencias */
  margin: 20px 0; /* Ajusta el espacio alrededor de la barra */
}


#soft-skills {
  padding: 20px;
  background-color: var(--eerie-black-2); /* Fondo que combine con el portafolio */
  color: var(--light-gray); /* Color del texto para armonizar */
  border-radius: 8px; /* Borde redondeado para mejorar el diseño */
}

.soft-skills-content ul {
  list-style-type: disc;
  padding-left: 20px;
  color: var(--light-gray); /* Color del texto de la lista */
}

.soft-skills-content li {
  font-size: var(--fs-6); /* Ajusta el tamaño de fuente según el diseño */
  margin-bottom: 8px; /* Espaciado entre los ítems */
}

.footer {
  background-color: #f8f9fa; /* Color de fondo */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin: 0 auto; /* Centra el pie de página */
  width: fit-content; /* Ajusta el ancho al contenido */
  position: relative; /* Permite el uso de margin-top */
  top: -28px; /* Ajusta la posición vertical del pie de página; aumenta el valor para subirlo más */
}

/* Estilo para el mensaje de copyright */
.footer .copyright {
  font-size: 16px; /* Tamaño de la fuente */
  color: #000; /* Color del texto (negro) */
  font-weight: bold; /* Texto en negrita */
  margin: 0; /* Elimina márgenes adicionales */
}

.footer-spacer {
  height: 1px; /* Ajusta el valor según necesites más o menos espacio */
}
}